parameters:
    ignoreErrors:
    - '#Call to an undefined static method Uasoft\\Badaso\\Module\\Commerce\\[a-zA-Z0-9-()\_]+\\[a-zA-Z0-9-()\_]+::[a-zA-Z0-9-()\_]+.#'
    - '#Call to an undefined static method Illuminate\\Support\\Facades\\DB::[a-zA-Z0-9-()\_]+.#'
    - '#Call to an undefined static method Uasoft\\Badaso\\Models\\[a-zA-Z0-9-()\_]+::[a-zA-Z0-9-()\_]+.#'
    - '#Class Uasoft\\Badaso\\Module\\Commerce\\Events\\GoogleAnalytics not found.#'
    - '#Class Uasoft\\Badaso\\Module\\Commerce\\Listeners\\SendHit not found.#'


